name: Deploy Individual Lambdas

on:
  push:
    branches:
      - main 

jobs:
  deploy_individual_lambdas:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      
    strategy:
      matrix:
        function_name: [data_clustering] 
        
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials with OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::873883317606:role/GitHubActionsDeployRole
          aws-region: sa-east-1 
          
      - name: Package ${{ matrix.function_name }}.py
        run: |
          zip -j ${{ matrix.function_name }}.zip src/${{ matrix.function_name }}.py
          
      - name: Deploy ${{ matrix.function_name }} Lambda
        run: |
          aws lambda update-function-code \
            --function-name ${{ matrix.function_name }} \
            --zip-file fileb://${{ matrix.function_name }}.zip